@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #f05454 #30475e !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #30475e;
}
::-webkit-scrollbar-thumb {
  background: #f05454;
}
